<div class="angCard">

    <!-- Header -->
    <div class="angCard-header">
        <div class="angCard-title">
            <span> {{heading}} </span>
        </div>
    </div>

    <!-- Client Form Fields -->
    <div class="angCard-content">
        <form class="formContainer" [formGroup]="clientForm">

            <!-- Client Form Controls -->
            <div class="formBlockWarpper">

                <!-- Title -->
                <div class="fromBlock">
                    <mat-form-field class="angInput">
                        <input type="text" matInput placeholder="{{verifyLabel('Title')}}" formControlName="title">
                        <mat-error *ngIf="this.action != 'Apply Filter' && this.action != 'Update'"> 
                            {{verifyLabel('This Field is Required')}} </mat-error>
                    </mat-form-field>
                </div>

                <!-- Description -->
                <div class="fromBlock">
                    <mat-form-field class="angInput">
                        <input type="text" matInput placeholder="{{verifyLabel('Description')}}"
                            formControlName="description">
                        <mat-error> Error Message </mat-error>
                    </mat-form-field>
                </div>

                <!-- Company Name -->
                <div class="fromBlock">
                    <mat-form-field class="angInput">
                        <input type="text" matInput placeholder="{{verifyLabel('Company Name')}}"
                            formControlName="companyName">
                        <mat-error> Error Message </mat-error>
                    </mat-form-field>
                </div>

                <!-- Email -->
                <div class="fromBlock">
                    <mat-form-field class="angInput">
                        <input type="email" matInput placeholder="{{verifyLabel('Email')}}" formControlName="email">
                        <mat-error *ngIf="f.email.errors?.required && (f.email.dirty || f.email.touched)">
                            {{verifyLabel('Email is required')}}</mat-error>
                        <mat-error
                            *ngIf="(f.email.errors?.email || f.email.errors?.pattern)  && (f.email.dirty || f.email.touched)">
                            {{verifyLabel('Email must be a valid email address')}}</mat-error>
                        <mat-error *ngIf="f.email.errors?.isAlreadyExist && (f.email.dirty || f.email.touched)">
                            {{verifyLabel('This value already exist')}}</mat-error>
                    </mat-form-field>
                </div>

                <!-- Contact -->
                <div class="fromBlock">
                    <mat-form-field class="angInput">
                        <input type="text" matInput placeholder="{{verifyLabel('Contact')}}"
                            formControlName="phoneNumber">
                        <mat-error> Error Message </mat-error>
                    </mat-form-field>
                </div>

                <!-- City -->
                <div class="fromBlock">
                    <mat-form-field class="angInput">
                        <input type="text" matInput placeholder="{{verifyLabel('City')}}" formControlName="city">
                        <mat-error> Error Message </mat-error>
                    </mat-form-field>
                </div>

                <!-- Country -->
                <div class="fromBlock">
                    <mat-form-field class="angInput">
                        <input type="text" matInput placeholder="{{verifyLabel('Country')}}" formControlName="country">
                        <mat-error> Error Message </mat-error>
                    </mat-form-field>
                </div>

                <!-- Image Upload Section -->
                <div *ngIf="action === 'Save' || action==='Update'" class="fromBlockfullwidthTextarea">
                    <app-file-upload [allimages]="allimages" (uploadImage)="uploadImage($event)"
                        (removeImage)="removeImage()"></app-file-upload>
                </div>

            </div>

            <!-- Form Footer Buttons -->
            <div class="angCard-footer">
                <button class="btnmd-outline" (click)="cancelForm(true)"> {{verifyLabel('Cancel')}}</button>
                <button *ngIf="action === 'Apply Filter'" class="btnmd" (click)="clearFilter(true)">
                    {{verifyLabel('Clear')}}</button>
                <button [disabled]="clientForm.invalid && this.action != 'Apply Filter' && this.action != 'Update'"
                    (click)="submitForm(clientForm.value, true)" class="btnmd">{{action}}</button>
            </div>
        </form>
    </div>
</div>